run = "bash start.sh"
entrypoint = "backend/app/main.py"

[nix]
channel = "stable-23_11"

[deployment]
build = ["sh", "-c", "pip install -r requirements.txt && cd frontend && npm install"]
run = ["bash", "start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5173
externalPort = 80
